<a href="https://colab.research.google.com/github/KellyPared/deep-learning-challenge/blob/main/deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
from tensorflow import keras
import pandas as pd 
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import ModelCheckpoint



#

In [2]:
#Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
application_df.columns

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [4]:
#there is a fairly equal amount of is successful
application_df['IS_SUCCESSFUL'].value_counts()

1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

Goal: "Wants a tool that can help it select the applicants for funding with the best chance of success.."

*   What variable(s) are the target(s) for your model?
*   What variable(s) are the feature(s) for your model?


### Target Variable is "Is Successful"
### The other variables(Except EIN and NAME) are the features.

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)

In [6]:
# calculate the number of unique values for each column
for col in application_df.columns:
    unique_vals = application_df[col].nunique()
    #print(f"{col}: {unique_vals}")
    print("{:<23}: {}".format(col, unique_vals))

APPLICATION_TYPE       : 17
AFFILIATION            : 6
CLASSIFICATION         : 71
USE_CASE               : 5
ORGANIZATION           : 4
STATUS                 : 2
INCOME_AMT             : 9
SPECIAL_CONSIDERATIONS : 2
ASK_AMT                : 8747
IS_SUCCESSFUL          : 2

In [7]:
# Look at APPLICATION_TYPE value counts for binning
# In ml, this column can be used as a feature to predict whether an organization will be successful in receiving funding.
app_counts = application_df['APPLICATION_TYPE'].value_counts()
print(app_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# calculate the number of unique values for each column
for col in application_df.columns:
    unique_vals = application_df[col].nunique()

    #For columns that have more than 10 unique values, determine the number of data points for each unique value.
    #anything else. just print
    
    if unique_vals > 10:
        print("Unique values for column '{}' (total: {}):".format(col, unique_vals))
        print(application_df[col].value_counts())
        print(" ")

    else:
        print("Unique Values less than 10")
        print("{:<23}: {}".format(col, unique_vals))
        print(" ")

Unique values for column 'APPLICATION_TYPE' (total: 17):
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

Unique Values less than 10
AFFILIATION            : 6

Unique values for column 'CLASSIFICATION' (total: 71):
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

Unique Values less than 10
USE_CASE               : 5

Unique Values less than 10
ORGANIZATION           : 4

Unique Values less than 10
STATUS                 : 2

Unique Values less than 10
INCOME_AMT             : 9

Unique Values less than 10
SPECIAL_CONSIDERATIONS : 2

Unique values for column 'ASK_AMT' (total: 8747):
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64

Unique Values less than 10
IS_SUCCESSFUL          : 2

There are 17 different T types of the application type; T-codes might correspond to different types of activities that the organization performs, such as training and technical assistance, consulting, research and evaluation, information dissemination

Choose a cutoff value that captures the majority of the variation in the data while still allowing you to bin the less common values into a single category.

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# The items below 500 are less frequent
#A good rule of thumb is to choose a cutoff value that reduces the number 
# of unique values in the column to a manageable number
cutoff = 500

# Get the counts of each application type
type_counts = application_df["APPLICATION_TYPE"].value_counts()

# application types less frequently than the cutoff
application_types_to_replace = list(type_counts[type_counts < cutoff].index)

# Print the types to be replaced
print(application_types_to_replace)

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [10]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

This information is important because it can help us to decide how to handle infrequent values in the CLASSIFICATION column. One common approach is to bin the infrequent values together into a single category. This can help to reduce the dimensionality of the data and

In [11]:
# Look at CLASSIFICATION value counts for 
#use this information to determine which values occur frequently and which values occur infrequently

classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [12]:
# You may find it helpful to look at CLASSIFICATION value counts >1

classification_counts_over_1 = classification_counts[classification_counts > 1]
print(classification_counts_over_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
cutoff2 = 300
# use the variable name `classifications_to_replace`
# Get the counts of each application type
class_counts = application_df['CLASSIFICATION'].value_counts()

# Identify the application types that occur less frequently than the cutoff
classifications_to_replace =  list(class_counts[class_counts < cutoff2].index)

classifications_to_replace

['C1700',
 'C4000',
 'C5000',
 'C1270',
 'C2700',
 'C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [14]:

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [15]:
# Convert categorical data to numeric with `pd.get_dummies`
# identify the categorical columns
cat_cols = application_df.select_dtypes(include=['object']).columns
cat_cols

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'],
      dtype='object')

In [16]:
#OneHotEncoder
enc = OneHotEncoder(sparse=False)
encoded_df = pd.DataFrame(enc.fit_transform(application_df[cat_cols]))
encoded_df.columns = enc.get_feature_names_out()
encoded_df.head()

# convert the categorical columns to dummy variables
# final_df = pd.get_dummies(application_df, columns=cat_cols)

# apply one-hot encoding using pd.get_dummies
# final_df

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [17]:
from IPython.core import application
#merge one-hot encoder and drop originals

application_df = application_df.merge(encoded_df, left_index=True, right_index =True)
application_df = application_df.drop(cat_cols,1)
application_df.head()

<ipython-input-17-fba0bef732c8>:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(cat_cols,1)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [18]:
application_df.columns

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3',
       'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_C7000', 'CLASSIFICATION_Other',
       'USE_CASE_CommunityServ', 'USE_CASE_Heathcare', 'USE_CASE_Other',
       'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0',
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

In [19]:
#Split our preproesssed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', axis=1).values # remove the target column
y = application_df['IS_SUCCESSFUL'].values # set the target column as the target variable

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [20]:
print("X_train shape:", X_train.shape)
print("y_train shape:", y_train.shape)
print("X_test shape:", X_test.shape)
print("y_test shape:", y_test.shape)

X_train shape: (25724, 44)
y_train shape: (25724,)
X_test shape: (8575, 44)
y_test shape: (8575,)

In [21]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler

X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model
Create a neural network model by assigning the number of input features and nodes for each layer using TensorFlow and Keras.

In [22]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#Sequential = layers are stacked on top of each other in sequence
model = tf.keras.models.Sequential()

#the number of input features - this is the length of the training -pick any column
number_input_features = len(X_train_scaled[0])
print(number_input_features)

44

In [23]:

#hidden nodes for each layer pick a random number
units_layer1 = 30
units_layer2 = 20

#the more layers - 
# First hidden layer
model.add(Dense(units=units_layer1, 
                                activation='relu', 
                                input_dim=number_input_features))

# Second hidden layer
model.add(Dense(units=units_layer2, 
                                activation='relu', 
                                input_dim=number_input_features))

# Output layer
model.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 30)                1350

 dense_1 (Dense)             (None, 20)                620

 dense_2 (Dense)             (None, 1)                 21

=================================================================
Total params: 1,991
Trainable params: 1,991
Non-trainable params: 0
_________________________________________________________________

In [24]:
# Compile the model - 
model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:

# Define the checkpoint file path
checkpoint_filepath = 'model_weights.h5'

# Define the ModelCheckpoint callback
checkpoint_callback = ModelCheckpoint(
    filepath=checkpoint_filepath,
    save_weights_only=True,
    period=5,
    verbose=1
)

weights = model.get_weights()
for i, layer_weights in enumerate(weights):
    print(f'Layer {i} weights:')
    print(layer_weights)


# Train the model
model.fit(X_train_scaled, y_train,epochs=100,
          validation_data=(X_test, y_test),
    callbacks=[checkpoint_callback])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

Layer 0 weights:
[[ 0.04374507 -0.17091711  0.10754123 ... -0.05539891  0.11193019
  -0.02577055]
 [-0.08946584 -0.21575186  0.08470872 ... -0.09094821 -0.04773429
   0.07658347]
 [ 0.01443878  0.205762    0.02468875 ... -0.1482408  -0.15723203
   0.19214839]
 ...
 [ 0.1336382  -0.16182575  0.04738224 ... -0.07212114  0.23062292
   0.164487  ]
 [-0.26566207 -0.11542235 -0.01903778 ... -0.09049782  0.14805084
  -0.2746326 ]
 [-0.2510138   0.06152624  0.19570225 ...  0.0572089   0.10947552
   0.27385142]]
Layer 1 weights:
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0.]
Layer 2 weights:
[[-0.18203087 -0.09047413  0.17967886 -0.16189784 -0.3412123   0.27086914
   0.25345713 -0.09195441 -0.17227817  0.07633379  0.28943288 -0.28334883
  -0.23110771 -0.09663738 -0.25142416 -0.0862084   0.14129883  0.11056265
  -0.15325655  0.19526976]
 [-0.2982206  -0.11418913  0.32626128 -0.08777624  0.17354387  0.11178607
  -0.12797771 -0.04384273  0.25113034  0.21064359  0.12902239 -0.19495276
   0.26937938 -0.11119811 -0.07377827 -0.22060251  0.12773019  0.05629072
   0.28664517  0.3199237 ]
 [-0.2605828  -0.285173   -0.24832174 -0.14781415  0.11759567  0.0157882
  -0.19732468 -0.01506281 -0.18321176 -0.03420648  0.23424613 -0.32747617
  -0.18559012  0.26476544 -0.03933123  0.12144539  0.0984908  -0.08181742
   0.20555633 -0.04246315]
 [-0.25063303  0.2727992  -0.2763127   0.19114172  0.20485628  0.32843107
  -0.18666083 -0.02197811 -0.23404679  0.25453496  0.00185928 -0.33804646
  -0.22527838  0.04508293 -0.33397853  0.3128364  -0.24262191 -0.17980556
  -0.2714463  -0.09775491]
 [ 0.34257382 -0.24058416  0.23916024 -0.1730451   0.3172146   0.01795289
  -0.20095214 -0.32873634  0.11604807  0.22680515 -0.0184333   0.05241588
  -0.15023018 -0.33343798  0.13862115  0.17793357  0.22869253 -0.34071216
   0.0960761  -0.04407704]
 [-0.2724282  -0.24994886  0.33644813  0.27590173 -0.31219319  0.11275503
  -0.23948579  0.17296416  0.28718483 -0.14180487 -0.24904993 -0.20972748
  -0.18247497  0.15436655 -0.11896534  0.08209407  0.22614717 -0.24280097
   0.273655    0.22512162]
 [-0.24078023  0.312858   -0.11631179 -0.24331576 -0.15537526 -0.083065
   0.21593755 -0.02129829 -0.30029088  0.33144194  0.21903527 -0.06395471
   0.09140825  0.26320225  0.1310477   0.03247431 -0.06858811  0.20463139
  -0.08214274  0.03600407]
 [ 0.03409407  0.19415975 -0.00995374  0.1745184   0.24936992 -0.2914689
  -0.17713737  0.32927936  0.08263811  0.1130577   0.24751312  0.02600497
  -0.33881727 -0.22104874 -0.1633948   0.15270436  0.03172132  0.1502662
  -0.27618486  0.09540415]
 [ 0.01340693  0.28893256 -0.29284295  0.19374561  0.15910643 -0.04591155
  -0.19373901  0.03745237 -0.05811661  0.26674062  0.11282027 -0.2547753
  -0.23804986  0.16009569 -0.16722576 -0.32324052  0.33385926  0.28350198
   0.2540533   0.20095766]
 [ 0.10315272  0.06584999 -0.28524074 -0.07242891  0.260338    0.03450528
   0.34175372  0.09785733  0.33440298 -0.24611887  0.03208148  0.32837576
   0.31658208  0.29747206 -0.11485521  0.23032588  0.03152516  0.04616114
   0.34316713 -0.06353679]
 [ 0.24596244  0.08362868 -0.05675924 -0.22812974 -0.19746368 -0.3037368
   0.25741565 -0.29621002 -0.02335909  0.2874753   0.09906414  0.00885463
  -0.2578778  -0.08067888  0.07424062 -0.13169172  0.18397677 -0.20074137
   0.30149722 -0.09600714]
 [ 0.04813331  0.20480251 -0.19285941  0.2263524   0.07630357 -0.2972623
   0.01506197 -0.10264617  0.27343273  0.19414437  0.01127824 -0.19008742
  -0.14449625  0.22074401 -0.1860115  -0.2525313   0.00948784  0.22197473
  -0.02389026  0.31623608]
 [-0.06814453 -0.23910108 -0.04970542 -0.12681293 -0.01356593 -0.25969338
   0.06588271  0.10469708 -0.33993605  0.11018473  0.28736794 -0.05269489
   0.23182964  0.1633209   0.04113814  0.16473913 -0.18179335 -0.06544679
   0.1185016   0.06452087]
 [ 0.08737889 -0.11229838 -0.2320803   0.18210882  0.3127129   0.18691784
   0.07874098 -0.18494318 -0.249637    0.3389756   0.2796681   0.34241956
  -0.10054879 -0.17768306 -0.27766132  0.29466832  0.08149421  0.04001886
   0.01416537  0.33583874]
 [-0.24279115  0.06860736 -0.09866853 -0.21555787 -0.05501434  0.21584398
   0.04117185 -0.07770109 -0.02822566  0.29143    -0.09839557  0.07129157
   0.06796166 -0.14744978 -0.07533172 -0.24219343 -0.21009377  0.16074854
   0.18573952  0.19785374]
 [ 0.25198877 -0.18207309 -0.3375357  -0.10190947 -0.17114386  0.04681823
   0.07446477 -0.0267857   0.08621418 -0.08410153 -0.23198457  0.08728018
   0.06338111  0.09511712  0.3253265  -0.3091637  -0.1900169   0.00158212
  -0.06592664  0.2599848 ]
 [ 0.02764729 -0.2617913   0.18391633 -0.07511649 -0.3365732   0.13399509
  -0.23465967 -0.22316901  0.3153016  -0.20531903 -0.07413706 -0.33695576
   0.1075249  -0.01533154 -0.16124092 -0.2615477   0.24252057 -0.16086827
   0.12606227 -0.071374  ]
 [ 0.10035232  0.0090611  -0.14869763 -0.28520778  0.33816904  0.14453045
   0.33946353  0.26250648  0.03821269  0.30600673 -0.26069662  0.3442679
  -0.22291622 -0.1014995  -0.32491958 -0.09855266  0.02907231 -0.240564
  -0.05922821  0.16569918]
 [ 0.26600462  0.29745167  0.07966104 -0.00655547 -0.18354063  0.15072745
  -0.09715159 -0.0652574   0.22334272 -0.16316734 -0.08619273  0.30881155
   0.0951823  -0.05107281  0.3288855   0.30229908  0.29288852 -0.09302965
  -0.01180047  0.21325588]
 [ 0.2739281   0.22561306  0.14947158  0.2604931   0.27778494 -0.03063634
   0.21106297 -0.34115666 -0.05239928 -0.03573489 -0.24034473  0.28736198
   0.19805998  0.32062256  0.20066768 -0.34528387  0.00215074 -0.33992976
   0.21791458 -0.21275152]
 [-0.26192093 -0.12646043  0.07925487 -0.25589275 -0.02637714  0.07988057
  -0.02650398 -0.12264393  0.27161598  0.10209307  0.25489956  0.09494707
   0.18382442 -0.32331872 -0.13562576 -0.04485348  0.29346353 -0.23190439
  -0.01256219 -0.30985093]
 [-0.30477193  0.01490825  0.16017294  0.04746044  0.0422436  -0.16576135
  -0.34595153 -0.33335042 -0.12288129 -0.2647167  -0.07704985  0.10102576
  -0.2845312   0.12885615  0.00830513 -0.05351689  0.08262688 -0.22458717
  -0.12890099 -0.11996931]
 [ 0.2286076   0.22008556  0.15010548  0.29805303 -0.33566865  0.20385116
  -0.25282392 -0.23633619 -0.07635593 -0.04451519  0.29569417  0.06368348
  -0.16598691  0.12166283 -0.1389778   0.14649692  0.30189472  0.31265283
  -0.2733361  -0.21045567]
 [-0.03121769  0.21299863  0.07989553 -0.11294416  0.03306434 -0.17184563
   0.2878899  -0.14346048  0.0488289   0.24978596  0.14423394 -0.00084704
   0.23939854  0.19666654 -0.33337387  0.30748653  0.0788652  -0.29089117
  -0.10745592 -0.23909323]
 [ 0.1980949  -0.3121444  -0.1348358  -0.25211522  0.11227319  0.04631186
   0.14662445 -0.16097027 -0.0914464  -0.04915935 -0.13503805 -0.11939828
   0.1942733   0.2613181  -0.12760828  0.03231946  0.13150638 -0.08399028
  -0.30363086 -0.11556393]
 [ 0.08658785  0.06841856  0.31256437 -0.07374054 -0.11640024  0.29970187
  -0.2075555  -0.28202772 -0.2981234  -0.3425389   0.18704528  0.19355649
  -0.21798232 -0.04820251 -0.05062798 -0.20222668 -0.21117446 -0.23771776
   0.0716491   0.19136739]
 [ 0.32254124  0.1873005  -0.21509595 -0.24711716  0.21576327  0.07876146
   0.34519243 -0.07041627 -0.19773135  0.10163924 -0.13145445  0.11980051
  -0.18704595  0.24628079  0.11935204  0.13566476 -0.2021421  -0.3350665
  -0.13303705  0.1187245 ]
 [-0.05142522  0.07553715 -0.02880421  0.18071109 -0.03236693 -0.30637237
  -0.21659935  0.30135226  0.26863617 -0.06226778  0.21350622  0.02296695
   0.2501223   0.33687925 -0.07047671  0.27036476 -0.08495435  0.06403029
  -0.08382684  0.26238346]
 [-0.18786895  0.27813888 -0.01746073 -0.20332456  0.22896957 -0.34096032
   0.14617324 -0.2612389   0.02355301  0.0600476  -0.20070024 -0.0785194
   0.18330204  0.08088395 -0.05964777 -0.26330623 -0.34029093  0.16396499
   0.03540659  0.10916317]
 [-0.07578093  0.02418789 -0.02055374  0.13765022  0.3346979   0.28607762
   0.08137035 -0.02654842 -0.30164605  0.12989628 -0.05631945  0.2638054
   0.02189544  0.26424795 -0.296686   -0.15770571  0.03987044 -0.07029033
   0.01609161 -0.04732525]]
Layer 3 weights:
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
Layer 4 weights:
[[ 0.13899434]
 [-0.51763666]
 [ 0.50758165]
 [-0.41692638]
 [-0.10868472]
 [-0.42414433]
 [-0.31569868]
 [-0.05569184]
 [-0.20390439]
 [ 0.4121651 ]
 [-0.17354205]
 [ 0.4743771 ]
 [-0.27792326]
 [-0.3330866 ]
 [ 0.05256867]
 [ 0.41296005]
 [-0.42044792]
 [-0.02103615]
 [-0.4760021 ]
 [ 0.46379745]]
Layer 5 weights:
[0.]
Epoch 1/100
804/804 [==============================] - 17s 19ms/step - loss: 0.5744 - accuracy: 0.7194 - val_loss: 34674.3906 - val_accuracy: 0.4657
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5574 - accuracy: 0.7282 - val_loss: 15088.3047 - val_accuracy: 0.4657
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5528 - accuracy: 0.7281 - val_loss: 9307.5088 - val_accuracy: 0.5343
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5515 - accuracy: 0.7294 - val_loss: 17642.6152 - val_accuracy: 0.5343
Epoch 5/100
785/804 [============================>.] - ETA: 0s - loss: 0.5497 - accuracy: 0.7312
Epoch 5: saving model to model_weights.h5
804/804 [==============================] - 3s 3ms/step - loss: 0.5499 - accuracy: 0.7308 - val_loss: 16155.4434 - val_accuracy: 0.4657
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5490 - accuracy: 0.7317 - val_loss: 25397.7031 - val_accuracy: 0.4657
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7307 - val_loss: 30395.0703 - val_accuracy: 0.4657
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7313 - val_loss: 979.8032 - val_accuracy: 0.5343
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7319 - val_loss: 12505.8389 - val_accuracy: 0.4657
Epoch 10/100
787/804 [============================>.] - ETA: 0s - loss: 0.5467 - accuracy: 0.7326
Epoch 10: saving model to model_weights.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7325 - val_loss: 22801.5352 - val_accuracy: 0.4657
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7318 - val_loss: 26058.3750 - val_accuracy: 0.5343
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7312 - val_loss: 1161.0420 - val_accuracy: 0.5343
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7329 - val_loss: 1737.7308 - val_accuracy: 0.4657
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7334 - val_loss: 7176.8125 - val_accuracy: 0.5343
Epoch 15/100
804/804 [==============================] - ETA: 0s - loss: 0.5446 - accuracy: 0.7328
Epoch 15: saving model to model_weights.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7328 - val_loss: 9611.8496 - val_accuracy: 0.5343
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7332 - val_loss: 14751.0029 - val_accuracy: 0.4657
Epoch 17/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5438 - accuracy: 0.7334 - val_loss: 7344.0483 - val_accuracy: 0.4657
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7332 - val_loss: 6279.3008 - val_accuracy: 0.4657
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7336 - val_loss: 18919.4414 - val_accuracy: 0.5343
Epoch 20/100
797/804 [============================>.] - ETA: 0s - loss: 0.5435 - accuracy: 0.7328
Epoch 20: saving model to model_weights.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7331 - val_loss: 9325.1689 - val_accuracy: 0.5343
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7345 - val_loss: 10442.9229 - val_accuracy: 0.4657
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7345 - val_loss: 9824.8916 - val_accuracy: 0.5343
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7331 - val_loss: 11597.1885 - val_accuracy: 0.5343
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7325 - val_loss: 8936.1152 - val_accuracy: 0.4657
Epoch 25/100
792/804 [============================>.] - ETA: 0s - loss: 0.5423 - accuracy: 0.7353
Epoch 25: saving model to model_weights.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7353 - val_loss: 2842.9333 - val_accuracy: 0.4657
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7340 - val_loss: 11069.8926 - val_accuracy: 0.4657
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7346 - val_loss: 11456.1768 - val_accuracy: 0.4657
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7336 - val_loss: 2973.4636 - val_accuracy: 0.5343
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7362 - val_loss: 4497.0376 - val_accuracy: 0.4657
Epoch 30/100
804/804 [==============================] - ETA: 0s - loss: 0.5414 - accuracy: 0.7350
Epoch 30: saving model to model_weights.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7350 - val_loss: 16494.4414 - val_accuracy: 0.4657
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7353 - val_loss: 13048.3887 - val_accuracy: 0.4657
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7353 - val_loss: 1356.4298 - val_accuracy: 0.4657
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7362 - val_loss: 17325.0449 - val_accuracy: 0.4657
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7365 - val_loss: 4048.8037 - val_accuracy: 0.4657
Epoch 35/100
793/804 [============================>.] - ETA: 0s - loss: 0.5409 - accuracy: 0.7341
Epoch 35: saving model to model_weights.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7343 - val_loss: 19911.8340 - val_accuracy: 0.4657
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7348 - val_loss: 2951.1462 - val_accuracy: 0.4657
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7359 - val_loss: 12267.1777 - val_accuracy: 0.4657
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7355 - val_loss: 27840.0605 - val_accuracy: 0.4657
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7359 - val_loss: 28294.1133 - val_accuracy: 0.4657
Epoch 40/100
800/804 [============================>.] - ETA: 0s - loss: 0.5401 - accuracy: 0.7363
Epoch 40: saving model to model_weights.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7364 - val_loss: 14988.0986 - val_accuracy: 0.4657
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7360 - val_loss: 15046.8271 - val_accuracy: 0.4657
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7358 - val_loss: 35871.0508 - val_accuracy: 0.4657
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7365 - val_loss: 14898.2666 - val_accuracy: 0.4657
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7369 - val_loss: 34916.9727 - val_accuracy: 0.4657
Epoch 45/100
800/804 [============================>.] - ETA: 0s - loss: 0.5402 - accuracy: 0.7370
Epoch 45: saving model to model_weights.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7375 - val_loss: 22959.9199 - val_accuracy: 0.4657
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7369 - val_loss: 28684.2168 - val_accuracy: 0.4657
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7363 - val_loss: 45468.1055 - val_accuracy: 0.4657
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7378 - val_loss: 25571.4297 - val_accuracy: 0.4657
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7364 - val_loss: 46317.3906 - val_accuracy: 0.4657
Epoch 50/100
804/804 [==============================] - ETA: 0s - loss: 0.5395 - accuracy: 0.7368
Epoch 50: saving model to model_weights.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7368 - val_loss: 41862.7227 - val_accuracy: 0.4657
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7371 - val_loss: 43408.1055 - val_accuracy: 0.4657
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7363 - val_loss: 21400.2344 - val_accuracy: 0.4657
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7375 - val_loss: 18385.9570 - val_accuracy: 0.4657
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7373 - val_loss: 29542.7305 - val_accuracy: 0.4657
Epoch 55/100
794/804 [============================>.] - ETA: 0s - loss: 0.5385 - accuracy: 0.7385
Epoch 55: saving model to model_weights.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7383 - val_loss: 23447.5410 - val_accuracy: 0.4657
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7376 - val_loss: 25588.0039 - val_accuracy: 0.4657
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7378 - val_loss: 24371.7520 - val_accuracy: 0.4657
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7373 - val_loss: 27993.2188 - val_accuracy: 0.4657
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7377 - val_loss: 47013.7461 - val_accuracy: 0.4657
Epoch 60/100
787/804 [============================>.] - ETA: 0s - loss: 0.5383 - accuracy: 0.7377
Epoch 60: saving model to model_weights.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7372 - val_loss: 45687.1836 - val_accuracy: 0.4657
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7372 - val_loss: 36849.2539 - val_accuracy: 0.4657
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7379 - val_loss: 41235.2148 - val_accuracy: 0.4657
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7375 - val_loss: 32737.6758 - val_accuracy: 0.4657
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7363 - val_loss: 24245.6406 - val_accuracy: 0.4657
Epoch 65/100
804/804 [==============================] - ETA: 0s - loss: 0.5381 - accuracy: 0.7376
Epoch 65: saving model to model_weights.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7376 - val_loss: 40361.9609 - val_accuracy: 0.4657
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7383 - val_loss: 35567.2539 - val_accuracy: 0.4657
Epoch 67/100

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5543 - accuracy: 0.7280 - 224ms/epoch - 837us/step
Loss: 0.5543296933174133, Accuracy: 0.7280466556549072

In [27]:
# Export our model to HDF5 file
# save the model to an HDF5 file
model.save('AlphabetSoupCharity.h5')

# Optimizing the Model: Trial 2


#hidden nodes for each layer pick a random number
units_layer1 = 50
units_layer2 = 30

#the more layers - 
# First hidden layer
model.add(Dense(units=units_layer1, 
                                activation='relu', 
                                input_dim=number_input_features))

# Second hidden layer
model.add(Dense(units=units_layer2, 
                                activation='tanh', 
                                input_dim=number_input_features))

# Output layer
model.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
model.summary()

Depending on the model how much error can I tolerate-- look at the confusion matrix.

In [28]:
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

The accuracy of the model is 0.7266, which means it correctly predicts the outcome for 72.66% of the cases in the test set. While this is not a bad accuracy, whether this model is considered "good" or not depends on the specific context and requirements of the project.

For example, if the consequences of a false positive (predicting a success when it will actually fail) or a false negative (predicting a failure when it will actually succeed) are very different, then the accuracy alone may not be a sufficient metric to evaluate the model's performance.

It's important to also consider other metrics such as precision, recall, F1-score, and the confusion matrix to get a better understanding of the model's performance. Additionally, if the project requirements demand a higher accuracy, then further optimization may be necessary.

In [29]:
#look at the confusion matrix to determine if a 72% is a good 

from sklearn.metrics import confusion_matrix
y = application_df['IS_SUCCESSFUL']
X = application_df.drop('IS_SUCCESSFUL',axis=1)

# Check the balance of our target values
label_counts = y.value_counts()
label_counts

1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

In [30]:
# Make a prediction using the testing data
pred = model.predict(X_test)

268/268 [==============================] - 0s 898us/step

In [31]:
# predictions_df = pd.DataFrame({"Prediction": pred, "Actual": y_test})
# predictions_df.head()